/* ------------------------ */
/* ------- CLEANNER ------- */
/* ------------------------ */
*{
    margin:0;
    padding:0;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}

body{
    color: #222;
    font-family:"Open Sans Condensed", sans-serif;
    font-size:1rem;
    font-weight:200;
    line-height:0.7;
}

.bienvenido{
    margin-right: 10px;
    text-align: right;
}

.titulo_usuarios{
    color:#fa5300;
    margin-left: 5px;
    font-size: 1.7rem;
    line-height: 2rem;
}

.titulo_usuarios:hover{
    color:#fa0000;
    cursor: pointer;
}

#agregar_usuario{    
    text-decoration: underline;
    cursor: pointer;
}

.breathe{
    margin: 1rem 0;
}

.icono_link{
    cursor: pointer;
    text-align: center;
}

.editar{
    color: #1db954;
}

.eliminar{
    color: #ff6347;
}

.gris{
    color: #888;
}

.black{
    background-color: #000;
    margin: 0;
    padding: 0;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}

.img-logo-nasa{
    padding: 5px;
}

.caja_login{
    color:#eeeeee;
}

.contenedor{
    margin:0 auto;
    width:99%;
    padding-top: 5px;
}

#boton_login{
    border:solid #ffffff 1px;
    font-family:'Abel', sans-serif;
    font-size:1.5rem;
    padding:0px 50px;
    margin:7px;
    background-color:rgba(255, 255, 255, 0);
    color:#ffffff;
    display:block;
    float:right;
    cursor:pointer;
}

#boton_login>a{
    color:#fa5300;
    text-decoration:none;
}

#boton_login:hover{
    text-decoration:none;
    background-color:rgba(255, 255, 255, 0.1);
}

#boton_editar_usuario,
#boton_agregar_usuario{
    border:solid #fa5300 1px;
    font-family:'Abel', sans-serif;
    font-size:1.5rem;
    padding:0px 50px;
    margin:10px;
    background-color:rgba(255, 255, 255, 0.1);
    color:#fa5300;
    display:block;    
    cursor:pointer;
    text-align: center;
    margin: 0 auto;
}

#boton_editar_usuario:hover,
#boton_agregar_usuario:hover{
    text-decoration:none;
    background-color:#fa5300;
    color: #fff;
}

/* ------------------------ */
/* ------- FOOTER --------- */
/* ------------------------ */
footer{
    background-color:rgba(69, 69, 69, 0.8);
    color:#ffffff;
    font-size:1.2rem;
    font-weight:300;
    letter-spacing:.05em;
    padding:0 15px;
    position:fixed;
    width:100%;bottom:0
}

footer nav{
    text-align: center;
}


/* ------------------------ */
/* ------ MOBILE FIRST ---- */
/* ------------------------ */
.fondo{
    /* Para ajuste perfecto */
    height:100vh;
    
    /* Fondo con gradiente */
    background:-webkit-gradient(
        linear, left top, right top, 
        from(rgba(68, 68, 68, 0.842)), 
        to(rgba(158, 76, 44, 0.767))), 
        url(../img/02_el_respaldo_del_profesionalismo--800.jpg);
        background:-webkit-linear-gradient(
        left, rgba(68, 68, 68, 0.842), rgba(158, 76, 44, 0.767)), 
        url(../img/02_el_respaldo_del_profesionalismo--800.jpg);
        background:-o-linear-gradient(
            left, rgba(68, 68, 68, 0.842), rgba(158, 76, 44, 0.767)), 
            url(../img/02_el_respaldo_del_profesionalismo--800.jpg);
            background:linear-gradient(
                to right, rgba(68, 68, 68, 0.842), rgba(158, 76, 44, 0.767)), 
                url(../img/02_el_respaldo_del_profesionalismo--800.jpg);
                background-size:cover;
                background-position:top right;
}
            
.caja_login{
    position:absolute;
    top:20%;left:10%;
}
            
/* -------------------------------------- */
/* ------- PC Media Queries ------------- */
/* -------------------------------------- */
@media (min-width:800px){
    body{
        font-size:1.5rem;
        line-height:1.5;
    }

    .fondo{
        background:-webkit-gradient(
            linear, left top, right top, 
            from(rgba(68, 68, 68, 0.842)), 
            to(rgba(158, 76, 44, 0.767))), 
            url(../img/01_todo_para_poner_tu_negocio_en_la_red--2000.jpg);
        background:-webkit-linear-gradient(
            left, rgba(68, 68, 68, 0.842), rgba(158, 76, 44, 0.767)), 
            url(../img/01_todo_para_poner_tu_negocio_en_la_red--2000.jpg);
        background:-o-linear-gradient(
            left, rgba(68, 68, 68, 0.842), rgba(158, 76, 44, 0.767)), 
            url(../img/01_todo_para_poner_tu_negocio_en_la_red--2000.jpg);
        background:linear-gradient(
            to right, rgba(68, 68, 68, 0.842), rgba(158, 76, 44, 0.767)), 
            url(../img/01_todo_para_poner_tu_negocio_en_la_red--2000.jpg);
    }
    .caja_login{
        left:20%
    }
}